body {
  font-family: 'Montserrat', sans-serif;
  background: #E5E5E5;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0 auto;
    background-color: #FFFFFF;
    width: 1200px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}